<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Private Trip Offer</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/assets/css/material-kit.css?v=1.2.1" rel="stylesheet"/>
</head>

<body class="contact-page">

{% include 'home/includes/navbar.html' %}
<div class="page-header header-filter" data-parallax="true" filter-color="rose">
    <div class="container">
        <div class="row title-row">
            <div class="col-md-4 col-md-offset-8">
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="container">
            <h2 class="title">Send Your Private custom Trip to Vendors</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="description">You can contact us with anything related to our Products. We'll get in touch
                        with you as soon as possible.<br><br>
                    </p>
                    <form role="form" id="contact-form" method="post">
                        <div class="form-group label-floating">
                            <label class="control-label">Your name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group label-floating">
                            <div class="col-lg-5 col-md-6 col-sm-3">
                                <select class="selectpicker" data-style="btn btn-primary btn-round"
                                        title="Starting From" data-size="7">

                                    <option disabled> Choose City</option>
                                    <option value="2">karachi</option>
                                    <option value="3">Lahore</option>
                                    <option value="4">Islamabad</option>
                                    <option value="5">Faisalabad</option>
                                    <option value="6">Rawalpindi</option>
                                    <option value="7">Multan</option>
                                    <option value="8">Gujranwala</option>
                                    <option value="9">Hyderabad</option>
                                    <option value="10">Peshawar</option>
                                    <option value="11">Quetta</option>
                                    <option value="12">Sargodha</option>
                                    <option value="13">Sialkot</option>
                                    <option value="14">Bahawalpur</option>
                                    <option value="15">Sukkur</option>
                                    <option value="16">Sheikhupura</option>
                                    <option value="17">Mardan</option>
                                    <option value="18">Gujrat</option>
                                    <option value="19">Larkana</option>
                                    <option value="20">kasur</option>
                                    <option value="21">Rahim Yar Khan</option>
                                    <option value="22">Sahiwal</option>
                                    <option value="23">Okara</option>
                                    <option value="24">Dera Ghazi Khan</option>
                                    <option value="25">Chiniot</option>
                                    <option value="26">Jhelum</option>
                                    <option value="27">Sadiqabad</option>
                                    <option value="28">Muzaffargarh</option>
                                    <option value="29">kohat</option>
                                    <option value="30">Pakpattan</option>
                                    <option value="31">Abbottabad</option>
                                    <option value="32">Daska</option>
                                    <option value="33">Dera Ismail Khan</option>
                                    <option value="34">Vehari</option>
                                    <option value="35">Wazirabad</option>
                                    <option value="36">Swabi</option>
                                    <option value="37">Chakwal</option>
                                    <option value="38">Mianwali</option>
                                    <option value="39">Vehari</option>
                                    <option value="40">Mansehra</option>
                                </select>
                            </div>
                        </div>
                        </br>
                        <div class="form-group label-floating">
                            <div class="col-lg-5 col-md-6 col-sm-3">

                                <select class="selectpicker" data-style="btn btn-primary btn-round"
                                        title="Ending Location" data-size="7">
                                    <option disabled> Choose City</option>
                                    <option value="2">karachi</option>
                                    <option value="3">Lahore</option>
                                    <option value="4">Islamabad</option>
                                    <option value="5">Faisalabad</option>
                                    <option value="6">Rawalpindi</option>
                                    <option value="7">Multan</option>
                                    <option value="8">Hunza</option>
                                    <option value="9">Naltar Valley</option>
                                    <option value="10">Naran kagan</option>
                                    <option value="11">kashmir</option>
                                    <option value="12">Sawat</option>
                                    <option value="13">kalam</option>
                                    <option value="14">Sakardu</option>
                                    <option value="15">Nanga Perbat</option>
                                    <option value="16">China Border</option>
                                    <option value="17">Mardan</option>
                                    <option value="18">Rati Gali</option>
                                    <option value="19">K-2 Base Camp</option>
                                    <option value="20">kasur</option>
                                    <option value="21">Rahim Yar Khan</option>
                                    <option value="22">Sahiwal</option>
                                    <option value="23">Okara</option>
                                    <option value="24">Dera Ghazi Khan</option>
                                    <option value="25">Chiniot</option>
                                    <option value="26">Jhelum</option>
                                    <option value="27">Sadiqabad</option>
                                    <option value="28">Muzaffargarh</option>
                                    <option value="29">kohat</option>
                                    <option value="30">Pakpattan</option>
                                    <option value="31">Abbottabad</option>
                                    <option value="32">Daska</option>
                                    <option value="33">Dera Ismail Khan</option>
                                    <option value="34">Vehari</option>
                                    <option value="35">Wazirabad</option>
                                    <option value="36">Swabi</option>
                                    <option value="37">Chakwal</option>
                                    <option value="38">Mianwali</option>
                                    <option value="39">Vehari</option>
                                    <option value="40">Mansehra</option>
                                </select>
                            </div>
                        </div>
                        </br></br>
                        </br>
                        <div class="form-group label-floating">
                            <label class="control-label">Budget</label>
                            <input type="text" name="Budget" class="form-control"/>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Duration</label>
                            <input type="text" name="Duration" class="form-control"/>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Phone No.</label>
                            <input type="text" name="phone" class="form-control"/>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Description</label>
                            <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                        </div>
                        <div class="submit text-center">
                            <input type="submit" class="btn btn-primary btn-raised btn-round" value="Contact Us"/>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">pin_drop</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Find us at the office</h4>
                            <p> Bld Mihail Kogalniceanu, nr. 8,<br>
                                7652 Bucharest,<br>
                                Romania
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Give us a ring</h4>
                            <p> Michael Jordan<br>
                                +40 762 321 762<br>
                                Mon - Fri, 8:00-22:00
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">business_center</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Legal Information</h4>
                            <p> Smart Tourism Ltd.<br>
                                VAT &middot; EN2341241<br>
                                IBAN &middot; EN8732ENGB2300099123<br>
                                Bank &middot; Great Britain Bank
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% include 'home/includes/footer.html' %}

</body>

<!--   Core JS Files   -->
<script src="/static/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/js/material.min.js"></script>

<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
<script src="/static/assets/js/moment.min.js"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
<script src="/static/assets/js/nouislider.min.js" type="text/javascript"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
<script src="/static/assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
<script src="/static/assets/js/bootstrap-selectpicker.js" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
<script src="/static/assets/js/bootstrap-tagsinput.js"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
<script src="/static/assets/js/jasny-bootstrap.min.js"></script>

<!--    Plugin For Google Maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
<script src="/static/assets/js/material-kit.js?v=1.2.1" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var slider2 = document.getElementById('sliderRefine');

        noUiSlider.create(slider2, {
            start: [42, 880],
            connect: true,
            range: {
                'min': [30],
                'max': [900]
            }
        });

        var limitFieldMin = document.getElementById('price-left');
        var limitFieldMax = document.getElementById('price-right');

        slider2.noUiSlider.on('update', function (values, handle) {
            if (handle) {
                limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
            } else {
                limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
            }
        });
    });
</script>
</html>
