{% extends "user_dashboard/layouts/base.html" %}

{% block title %} User Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h3>Your Shared Trips <a class="btn btn-sm btn-primary" href="{% url 'share_trip_data' %}">Share More</a></h3>


    <div class="row">

        {% for trip in shared_trips %}
            <div class="col-md-3">

                <div class="card" style="width: 20rem;">
                    <img style="height: 300px;object-fit: cover" class="card-img-top"
                         src="{% if trip.cover %}{{ trip.cover.url }}{% endif %}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ trip.title }}</h4>
                        <p class="card-text">{{ trip.from_city }} - {{ trip.to_city }}</p>
                        <a href="{% url 'view_shared_trip' trip.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
