{% extends "user_dashboard/layouts/base.html" %}

{% block title %} User Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Your Shared trips</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">

              <tr>
                <th>
                   From
                </th>
                <th>
                  To
                </th>
                <th>
                  Shared on
                </th>
                  <th>
                  Approved
                </th>
                <th class="text-center">
                  Manage
                </th>
              </tr>
            </thead>
            <tbody>
             {% for trip in shared_trips %}
   <tr>
                <td>
                    {{ trip.from_city }}
                </td>
                <td>
                    {{ trip.to_city }}
                </td>
                <td>
                    {{ trip.shared_on}}
                </td>
       <td>
                    {{ trip.is_approved}}
                </td>
                <td class="text-center">
                <a href="{% url 'update_trip_data' trip.id %}">Update</a>/
                    <a href="{% url 'delete_trip_data' trip.id %}">Delete</a>
                </td>
              </tr>
                 {% empty %}
                 <tr>
                                  You haven't shared any of your previous trip data. Share your previous trips to get benefits.

                 </tr>
            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
