

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="{% url 'dashboard' %}" class="simple-text logo-mini">
            ST
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="{% url 'dashboard' %}" class="simple-text logo-normal">
            User Dashboard
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="{% if 'user' in segment %} active {% endif %}">
            <a href="{% url 'dashboard' %}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Your Shared Data</p>
            </a>
          </li>
          <li class="{% if 'share_trip_data' in segment %} active {% endif %}">
            <a href="{% url 'share_trip_data' %}">
              <i class="tim-icons icon-pin"></i>
              <p>Share Trip Data</p>
            </a>
          </li>
            <li class="{% if 'view_created_custom_offers' in segment %} active {% endif %}">
            <a href="{% url 'view_created_custom_offers' %}">
              <i class="tim-icons icon-atom"></i>
              <p>Custom Trip Offers</p>
            </a>
          </li>
          <li class="{% if 'role_elevation' in segment %} active {% endif %}">
            <a href="{% url 'role_elevation' %}">
              <i class="tim-icons icon-atom"></i>
              <p>Request Role Elevation</p>
            </a>
          </li>
            <li class="{% if 'complaint' in segment %} active {% endif %}">
            <a href="{% url 'complaint' %}">
              <i class="tim-icons icon-atom"></i>
              <p>Complain</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
