<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Share your Trip data</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/assets/css/material-kit.css?v=1.2.1" rel="stylesheet"/>
</head>

<body class="contact-page">

<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Smart Tourism</a>
        </div>

               <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'home' %}">
                        <i class="material-icons">apps</i> Trips
                    </a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">view_day</i> Vendors
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li>
                            <a href="{% url 'car_vendor' %}">
                                <i class="material-icons">dns</i> Car Vendor
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'vendor' %}">
                                <i class="material-icons">build</i> Trip Vendor
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'tour_guide' %}">
                                <i class="material-icons">list</i> Tour Guide
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">view_carousel</i> Profile
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        {% if not request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'home_login' %}">
                                    <i class="material-icons">fingerprint</i> Login
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'home_signup' %}">
                                    <i class="material-icons">person_add</i> Register
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}">
                                    <i class="material-icons">person_add</i> Vendor Login
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'private_trip' %}">
                                <i class="material-icons">view_quilt</i> Private Trip
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'update_trip' %}">
                                <i class="material-icons">location_on</i> Update Trip
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'share_data' %}">
                                <i class="material-icons">view_day</i> Share Data
                            </a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'logout' %}">
                                    <i class="material-icons">person_add</i> Logout
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li>
                    <a href="{% url 'search' %}" target="_blank"
                       class="btn btn-white btn-simple">
                        <i class="material-icons">shopping_cart</i> Book Now
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

</br></br></br></br></br></br></br></br></br></br>
<!-- <div id="contactUsMap" class="big-map"></div>-->

<div class="main main-raised">
    <div class="contact-content">
        <div class="container">
            <h2 class="title">Share your personal Trip data with us</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="description">You can contact us with anything related to our Products. We'll get in touch
                        with you as soon as possible.<br><br>
                    </p>
                    <form role="form" id="contact-form" method="post">
                        <div class="form-group label-floating">
                            <label class="control-label">Your name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group label-floating">
                            <div class="col-lg-5 col-md-6 col-sm-3">
                                <select class="selectpicker" data-style="btn btn-primary btn-round"
                                        title="Starting From" data-size="7">

                                    <option disabled> Choose City</option>
                                    <option value="2">karachi</option>
                                    <option value="3">Lahore</option>
                                    <option value="4">Islamabad</option>
                                    <option value="5">Faisalabad</option>
                                    <option value="6">Rawalpindi</option>
                                    <option value="7">Multan</option>
                                    <option value="8">Gujranwala</option>
                                    <option value="9">Hyderabad</option>
                                    <option value="10">Peshawar</option>
                                    <option value="11">Quetta</option>
                                    <option value="12">Sargodha</option>
                                    <option value="13">Sialkot</option>
                                    <option value="14">Bahawalpur</option>
                                    <option value="15">Sukkur</option>
                                    <option value="16">Sheikhupura</option>
                                    <option value="17">Mardan</option>
                                    <option value="18">Gujrat</option>
                                    <option value="19">Larkana</option>
                                    <option value="20">kasur</option>
                                    <option value="21">Rahim Yar Khan</option>
                                    <option value="22">Sahiwal</option>
                                    <option value="23">Okara</option>
                                    <option value="24">Dera Ghazi Khan</option>
                                    <option value="25">Chiniot</option>
                                    <option value="26">Jhelum</option>
                                    <option value="27">Sadiqabad</option>
                                    <option value="28">Muzaffargarh</option>
                                    <option value="29">kohat</option>
                                    <option value="30">Pakpattan</option>
                                    <option value="31">Abbottabad</option>
                                    <option value="32">Daska</option>
                                    <option value="33">Dera Ismail Khan</option>
                                    <option value="34">Vehari</option>
                                    <option value="35">Wazirabad</option>
                                    <option value="36">Swabi</option>
                                    <option value="37">Chakwal</option>
                                    <option value="38">Mianwali</option>
                                    <option value="39">Vehari</option>
                                    <option value="40">Mansehra</option>
                                </select>
                            </div>
                        </div>
                        </br>
                        <div class="form-group label-floating">
                            <div class="col-lg-5 col-md-6 col-sm-3">

                                <select class="selectpicker" data-style="btn btn-primary btn-round"
                                        title="Ending Location" data-size="7">
                                    <option disabled> Choose City</option>
                                    <option value="2">karachi</option>
                                    <option value="3">Lahore</option>
                                    <option value="4">Islamabad</option>
                                    <option value="5">Faisalabad</option>
                                    <option value="6">Rawalpindi</option>
                                    <option value="7">Multan</option>
                                    <option value="8">Hunza</option>
                                    <option value="9">Naltar Valley</option>
                                    <option value="10">Naran kagan</option>
                                    <option value="11">kashmir</option>
                                    <option value="12">Sawat</option>
                                    <option value="13">kalam</option>
                                    <option value="14">Sakardu</option>
                                    <option value="15">Nanga Perbat</option>
                                    <option value="16">China Border</option>
                                    <option value="17">Mardan</option>
                                    <option value="18">Rati Gali</option>
                                    <option value="19">K-2 Base Camp</option>
                                    <option value="20">kasur</option>
                                    <option value="21">Rahim Yar Khan</option>
                                    <option value="22">Sahiwal</option>
                                    <option value="23">Okara</option>
                                    <option value="24">Dera Ghazi Khan</option>
                                    <option value="25">Chiniot</option>
                                    <option value="26">Jhelum</option>
                                    <option value="27">Sadiqabad</option>
                                    <option value="28">Muzaffargarh</option>
                                    <option value="29">kohat</option>
                                    <option value="30">Pakpattan</option>
                                    <option value="31">Abbottabad</option>
                                    <option value="32">Daska</option>
                                    <option value="33">Dera Ismail Khan</option>
                                    <option value="34">Vehari</option>
                                    <option value="35">Wazirabad</option>
                                    <option value="36">Swabi</option>
                                    <option value="37">Chakwal</option>
                                    <option value="38">Mianwali</option>
                                    <option value="39">Vehari</option>
                                    <option value="40">Mansehra</option>
                                </select>
                            </div>
                        </div>
                        </br></br>
                        </br>
                        <div class="form-group label-floating">
                            <label class="control-label">Budget Spent</label>
                            <input type="text" name="Budget" class="form-control"/>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Duration</label>
                            <input type="text" name="Duration" class="form-control"/>
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label">Description</label>
                            <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                        </div>
                        <div class="submit text-center">
                            <input type="submit" class="btn btn-primary btn-raised btn-round" value="Share now"/>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">pin_drop</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Find us at the office</h4>
                            <p> Bld Mihail Kogalniceanu, nr. 8,<br>
                                7652 Bucharest,<br>
                                Romania
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Give us a ring</h4>
                            <p> Michael Jordan<br>
                                +40 762 321 762<br>
                                Mon - Fri, 8:00-22:00
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">business_center</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Legal Information</h4>
                            <p> Creative Tim Ltd.<br>
                                VAT &middot; EN2341241<br>
                                IBAN &middot; EN8732ENGB2300099123<br>
                                Bank &middot; Great Britain Bank
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="subscribe-line subscribe-line-image" data-parallax="true"
     style="background-image: url('/static/assets/img/examples/ecommerce-header.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h3 class="title">Subscribe to our Newsletter</h3>
                    <p class="description">
                        Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about
                        this.
                    </p>
                </div>

                <div class="card card-raised card-form-horizontal">
                    <div class="card-content">
                        <form method="" action="">
                            <div class="row">
                                <div class="col-sm-8">

                                    <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">mail</i>
										</span>
                                        <div class="form-group is-empty"><input type="email" value=""
                                                                                placeholder="Your Email..."
                                                                                class="form-control"><span
                                                class="material-input"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-rose btn-block">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer class="footer footer-black footer-big">
    <div class="container">

        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Smart Tourism is a platform where you can get trip recommendations according to your budget and
                        timing. </p>
                    <p>We love to explore nature and care deeply for how beautiful and charming it is. We power
                        individuals to create better trips around the world. </p>
                </div>

                <div class="col-md-4">
                    <h5>Recent Reviews</h5>
                    <div class="social-feed">
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>Was looking for such a platform for long time.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>Really help me exploring the nature.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-facebook-square"></i>
                            <p>It's great to get car vendors and tour guides at same place.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h5>Recent Trip Photos</h5>
                    <div class="gallery-feed">
                        <img src="/static/assets/img/faces/card-profile6-square.jpg" class="img img-raised img-rounded"
                             alt=""/>
                        <img src="/static/assets/img/faces/christian.jpg" class="img img-raised img-rounded" alt=""/>
                        <img src="/static/assets/img/faces/card-profile4-square.jpg" class="img img-raised img-rounded"
                             alt=""/>
                        <img src="/static/assets/img/faces/card-profile1-square.jpg" class="img img-raised img-rounded"
                             alt=""/>

                        <img src="/static/assets/img/faces/marc.jpg" class="img img-raised img-rounded" alt=""/>
                        <img src="/static/assets/img/faces/kendall.jpg" class="img img-raised img-rounded" alt=""/>
                        <img src="/static/assets/img/faces/card-profile5-square.jpg" class="img img-raised img-rounded"
                             alt=""/>
                        <img src="/static/assets/img/faces/card-profile2-square.jpg" class="img img-raised img-rounded"
                             alt=""/>
                    </div>

                </div>
            </div>
        </div>


        <hr/>

        <ul class="pull-left">
            <li>
                <a href="{% url 'home' %}">
                    Blog
                </a>
            </li>
            <li>
                <a href="{% url 'search' %}">
                    Search
                </a>
            </li>
            <li>
                <a href="{% url 'share_data' %}">
                    Share your Trip
                </a>
            </li>
            <li>
                <a href="{% url 'car_vendor' %}">
                    Car Vendor
                </a>
            </li>
            <li>
                <a href="{% url 'tour_guide' %}">
                    Tour Guide
                </a>
            </li>
        </ul>

        <div class="copyright pull-right">
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            Smart Tourism All Rights Reserved.
        </div>
    </div>
</footer>
</body>

<!--   Core JS Files   -->
<script src="/static/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/assets/js/material.min.js"></script>

<!--    Plugin for Date Time Picker and Full Calendar Plugin   -->
<script src="/static/assets/js/moment.min.js"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/   -->
<script src="/static/assets/js/nouislider.min.js" type="text/javascript"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker   -->
<script src="/static/assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select   -->
<script src="/static/assets/js/bootstrap-selectpicker.js" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/   -->
<script src="/static/assets/js/bootstrap-tagsinput.js"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput   -->
<script src="/static/assets/js/jasny-bootstrap.min.js"></script>

<!--    Plugin For Google Maps   -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!--    Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc    -->
<script src="/static/assets/js/material-kit.js?v=1.2.1" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var slider2 = document.getElementById('sliderRefine');

        noUiSlider.create(slider2, {
            start: [42, 880],
            connect: true,
            range: {
                'min': [30],
                'max': [900]
            }
        });

        var limitFieldMin = document.getElementById('price-left');
        var limitFieldMax = document.getElementById('price-right');

        slider2.noUiSlider.on('update', function (values, handle) {
            if (handle) {
                limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
            } else {
                limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
            }
        });
    });
</script>
</html>
