<footer class="footer footer-black footer-big">
    <div class="container">

        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>Smart Tourism is a platform where you can get trip recommendations according to your budget and
                        timing. </p>
                    <p>We love to explore nature and care deeply for how beautiful and charming it is. We power
                        individuals to create better trips around the world. </p>
                </div>

                <div class="col-md-4">
                    <h5>Recent Reviews</h5>
                    <div class="social-feed">
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>Was looking for such a platform for long time.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-twitter"></i>
                            <p>Really help me exploring the nature.</p>
                        </div>
                        <div class="feed-line">
                            <i class="fa fa-facebook-square"></i>
                            <p>It's great to get car vendors and tour guides at same place.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <hr/>

        <ul class="pull-left">
            <li>
                <a href="{% url 'home' %}">
                    Home
                </a>
            </li>

            <li>
                <a href="{% url 'share_trip_data' %}">
                    Share your Trip
                </a>
            </li>

        </ul>

        <div class="copyright pull-right">
            Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            Smart Tourism All Rights Reserved.
        </div>
    </div>
</footer>
