

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="{% url 'management_home' %}" class="simple-text logo-mini">
            ST
          </a>
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="{% url 'management_home' %}" class="simple-text logo-normal">
            Dashboard
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class=" active ">
            <a href="{% url 'management_home' %}">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="{% url 'add_trip_vendor' %}">
              <i class="tim-icons icon-atom"></i>
              <p>Add Trip Vendor</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="{% url 'add_car_vendor' %}">
              <i class="tim-icons icon-pin"></i>
              <p>Add Car Vendor</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="{% url 'add_tour_guide' %}">
              <i class="tim-icons icon-bell-55"></i>
              <p>Add Tour guide</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
