{% extends "tour_guide/layouts/base.html" %}

{% block title %}Delete Language{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">Delete Language</h6>
                    <h4 class="card-title">
                        Are you sure you want to delete this Language?
                    </h4>
                    <p>{{ language.language_name }}</p>
                    <a href="{% url 'tour_guide_home' %}" class="btn btn-primary btn-round">No</a>
                    <a href="{% url 'delete_language_check' language.id 1 %}" class="btn btn-danger btn-round">Yes</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
