{% extends "tour_guide/layouts/base.html" %}

{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Manage Languages</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Language
                </th>
                <th>
                  Level
                </th>
                <th>
                  Added
                </th>
                <th class="text-center">
                  Manage
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    Urdu
                </td>
                <td>
                Native
                </td>
                <td>
                    21 January,2019
                </td>
                <td class="text-center">
                <a href="{% url 'update_language' %}">Update</a>/
                    <a href="{% url 'delete_language' %}">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
